<launch>

  <arg name="robot_model"                       default=""/>
  <arg name="robot_name"                        default="$(arg robot_model)"/>
  <arg name="base_link_frame"                   default="base_link"/>
  <arg name="show_gripper_bar"                  default="true"/>
  <arg name="show_gripper_fingers"              default="true"/>
  <arg name="external_urdf_loc"                 default=""/>
  <arg name="use_rviz"                          default="true"/>
  <arg name="load_configs"                      default="true"/>

  <arg name="filters"                           default="pointcloud"/>
  <arg name="color_fps"                         default="30"/>
  <arg name="color_width"                       default="640"/>
  <arg name="color_height"                      default="480"/>
  <arg name="depth_fps"                         default="30"/>
  <arg name="depth_width"                       default="640"/>
  <arg name="depth_height"                      default="480"/>

  <arg name="filter_ns"                         default="pc_filter"/>
  <arg name="filter_params"                     default="$(find interbotix_xsarm_perception)/config/filter_params.yaml"/>
  <arg name="use_pointcloud_tuner_gui"          default="false"/>
  <arg name="enable_pipeline"                   default="$(arg use_pointcloud_tuner_gui)"/>
  <arg name="cloud_topic"                       default="/camera/depth/color/points"/>

  <arg name="tag_family"                        default="tagStandard41h12"/>
  <arg name="standalone_tags"                   default="$(find interbotix_perception_modules)/config/tags.yaml"/>
  <arg name="camera_frame"                      default="camera_color_optical_frame"/>
  <arg name="apriltag_ns"                       default="apriltag"/>
  <arg name="camera_color_topic"                default="camera/color/image_raw"/>
  <arg name="camera_info_topic"                 default="camera/color/camera_info"/>
  <arg name="armtag_ns"                         default="armtag"/>
  <arg name="ref_frame"                         default="$(arg camera_frame)"/>
  <arg name="arm_base_frame"                    default="$(arg robot_name)/$(arg base_link_frame)"/>
  <arg name="arm_tag_frame"                     default="$(arg robot_name)/ar_tag_link"/>
  <arg name="use_armtag_tuner_gui"              default="false"/>
  <arg name="position_only"                     default="false"/>

  <arg name="load_transforms"                   default="true"/>
  <arg name="transform_filepath"                default="$(find interbotix_xsarm_perception)/config/static_transforms.yaml"/>

  <arg name="rviz_frame"                        default="$(arg robot_name)/$(arg base_link_frame)"/>
  <arg name="rvizconfig"                        default="$(find interbotix_xsarm_perception)/rviz/xsarm_perception.rviz" />

  <include file="$(find interbotix_xsarm_control)/launch/xsarm_control.launch">
    <arg name="robot_model"                       value="$(arg robot_model)"/>
    <arg name="robot_name"                        value="$(arg robot_name)"/>
    <arg name="base_link_frame"                   value="$(arg base_link_frame)"/>
    <arg name="show_ar_tag"                       value="true"/>
    <arg name="show_gripper_bar"                  value="$(arg show_gripper_bar)"/>
    <arg name="show_gripper_fingers"              value="$(arg show_gripper_fingers)"/>
    <arg name="use_world_frame"                   value="false"/>
    <arg name="external_urdf_loc"                 value="$(arg external_urdf_loc)"/>
    <arg name="use_rviz"                          value="false"/>
    <arg name="load_configs"                      value="$(arg load_configs)"/>
  </include>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="filters"                           value="$(arg filters)"/>
    <arg name="color_fps"                         value="$(arg color_fps)"/>
    <arg name="color_width"                       value="$(arg color_width)"/>
    <arg name="color_height"                      value="$(arg color_height)"/>
    <arg name="depth_fps"                         value="$(arg depth_fps)"/>
    <arg name="depth_width"                       value="$(arg depth_width)"/>
    <arg name="depth_height"                      value="$(arg depth_height)"/>
  </include>

  <include file="$(find interbotix_perception_modules)/launch/pc_filter.launch">
    <arg name="filter_ns"                         value="$(arg filter_ns)"/>
    <arg name="filter_params"                     value="$(arg filter_params)"/>
    <arg name="enable_pipeline"                   value="$(arg enable_pipeline)"/>
    <arg name="cloud_topic"                       value="$(arg cloud_topic)"/>
    <arg name="use_pointcloud_tuner_gui"          value="$(arg use_pointcloud_tuner_gui)"/>
  </include>

  <!-- <include file="$(find interbotix_perception_modules)/launch/armtag.launch">
    <arg name="tag_family"                        value="$(arg tag_family)"/>
    <arg name="standalone_tags"                   value="$(arg standalone_tags)"/>
    <arg name="camera_frame"                      value="$(arg camera_frame)"/>
    <arg name="apriltag_ns"                       value="$(arg apriltag_ns)"/>
    <arg name="camera_color_topic"                value="$(arg camera_color_topic)"/>
    <arg name="camera_info_topic"                 value="$(arg camera_info_topic)"/>
    <arg name="armtag_ns"                         value="$(arg armtag_ns)"/>
    <arg name="ref_frame"                         value="$(arg ref_frame)"/>
    <arg name="arm_base_frame"                    value="$(arg arm_base_frame)"/>
    <arg name="arm_tag_frame"                     value="$(arg arm_tag_frame)"/>
    <arg name="use_armtag_tuner_gui"              value="$(arg use_armtag_tuner_gui)"/>
    <arg name="position_only"                     value="$(arg position_only)"/>
  </include> -->

  <!-- <include file="$(find interbotix_perception_modules)/launch/static_transform_pub.launch">
    <arg name="load_transforms"                   value="$(arg load_transforms)"/>
    <arg name="transform_filepath"                value="$(arg transform_filepath)"/>
  </include> -->

  <node if="$(arg use_rviz)"
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-f $(arg rviz_frame) -d $(arg rvizconfig)"
    ns="$(arg robot_name)"/>
  
  <!-- 
   Obtained from Eye-Hand calibration 
    xyz="0.156406 0.0259245 0.484008" rpy="0.72163 1.65276 -0.69622" -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.156406 0.0259245 0.484008   -0.009883 0.728445 0.0278353 0.684467 wx250s/base_link camera_link" /> -->

<!-- good 2  high-->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.184792 0.0205145 0.683906   -0.015482 0.712955 0.0763007 0.696874 wx250s/base_link camera_link" /> -->

        <!-- good 3 -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.208194 -0.0127812 0.772507   0.0293346 0.715755 0.00451017 0.69772 wx250s/base_link camera_link" /> -->

        <!-- good otate -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.195 -0.0085 0.601318   0.00633201 0.721724 0.032703 0.691379 wx250s/base_link camera_link" /> -->
 <!-- may7 -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.175572 0.0246511 0.595534   -0.0322851 0.717733 0.0304795 0.694901 wx250s/base_link camera_link" />


  <!-- <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster"
    args="
      0.18 0.02 0.605
      -0.0220684 0.717753 0.0500634 0.694145
      wx250s/base_link camera_link 100" /> -->



  <!-- <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster"
    args="
      -0.028 0.002 -0.164
      0.006 -0.402 0.012
      wx250s/base_link camera_link 100" /> -->

  <!-- <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.332524 0.162719 1.4249   -0.0220684 0.717753 0.0500634 0.694145 wx250s/base_link camera_link 100" /> -->

<!-- x, y, z
qx, qy, qz, qw
 -->
</launch>

  <!-- qw: 0.9617012127006496
  qx: 0.0004536107650512624
  qy: -0.27409726980454197
  qz: 0.0011217901185121418
  x: 0.004208716582592607
  y: 0.00024383931656015478
  z: -0.17176515107458268 -->


<!-- 
    Henry's hand-tuned
      0.18 0.02 0.605
      -0.0220684 0.717753 0.0500634 0.694145 -->